 .new-post h2 {
   text-align: center;
   margin-bottom: 1rem;
 }

 form {
   max-width: 500px;
   width: 96%;
   margin: 0 auto;
 }

 .form-control {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;

 }

 .form-control label {
   margin-bottom: 0.5rem;
 }

 .form-control input,
 textarea {
   padding: 0.5rem;
   border-radius: 5px;
   border: none;

 }

 #p {
   color: yellowgreen;
   border: 1px solid #fff;
   border-radius: 5px;
   padding: 1rem;
   text-align: justify;
 }