.about {
  padding: 1rem;
}

.about h2 {
  color: coral;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about ul li {
  list-style: none;
  padding: 0.5rem;
}

.about li p {
  list-style: none;

}

.tvm p {
  color: coral;
  font-size: 1.5rem;
}

.about span {
  font-size: 2rem;
  padding: 1rem;
  margin: 3rem;

}

#noColor {
  color: #fff;
  padding-top: 1rem;

}